<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="col-lg-4 col-md-7 col-sm-10 ml-auto mr-auto">
    <div class="card bg-light">
      <div class="card-header text-center">
        <h1 class="fs-2">Créer un compte</h1>
      </div>
      <div class="card-body mx-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-3">
            <%= f.label :first_name, "Prénom" %><br />
            <%= f.text_field :first_name, autofocus: true %>
          </div>
            <div class="field mb-3">
            <%= f.label :last_name, "Nom" %><br />
            <%= f.text_field :last_name %>
          </div>
          <div class="field mb-3">
            <%= f.label :email, "Adresse email" %><br />
            <%= f.email_field :email %>
          </div>
          <div class="field mb-3">
            <%= f.label :password, "Mot de passe" %><br />
            <%= f.password_field :password %>
          </div>

      </div>
          <div class="card-footer" >
            <div class="actions d-flex justify-content-center">
              <button class="btn btn-danger">Créer mon compte</button>
            </div>
          <% end %>
            <div class="mt-3 ms-4 d-flex justify-content-between">
              <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
  </div>
</div>
