<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="col-lg-4 col-md-7 col-sm-10 ml-auto mr-auto">
    <div class="card bg-light">
      <div class="card-header text-center">
        <h1 class="fs-2">Mofifier mot de passe</h1>
      </div>
      <div class="card-body mx-3">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
  
        <div class="field mb-3">
          <%= f.label :password, "Mot de passe" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> charactères minimum)</em><br />
          <% end %>
          <%= f.password_field :password %>
        </div>  
        <div class="field mb-3">
            <%= f.label :password_confirmation, "Confirmer le mot de passe" %><br />
            <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="card-footer" >
        <div class="actions d-flex justify-content-center">
          <button class="btn btn-danger">Mofifier</button>
        </div>
      <% end %>
        <div class="mt-3 ms-4 d-flex justify-content-between">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
